* {
  font-family: "Lato", sans-serif;
}
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1268px) {
  .conteiner-1 .cloud-1 .loginWrapper .ikonka-eng {
    height: 50px;
    width: 50px;
    margin-left: 0;
  }
}
.conteiner-1 {
  background-image: url(compback.svg);
  background-size: cover;
  background-position: center;
  height: 1000px;
  .cloud-1 {
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding-top: 50px;
    justify-content: space-around;

    .iconWrapper {
      display: flex;
      width: 190px;
      justify-content: space-around;
    }

    .loginWrapper {
      display: flex;
      align-items: center;
      gap: 20px;

      .ikonka-eng {
        height: 50px;
        width: 50px;
      }

      .ikonka-strelka {
        height: 12px;
        width: 15px;
        margin-left: 10px;
      }

      & p {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: medium;
        color: #ffffff;
      }

      .login {
        border: 1px solid #ffffff;
        padding: 15px;
        border-radius: 5px;
        background-color: transparent;
        color: #ffffff;
        width: 100px;
      }
    }
  }
  .cloud-2 {
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
  }

  .overview {
    display: flex;

    .navMenuButtons {
      text-decoration: none;
      text-transform: none;
      color: #ffffff;
      margin-right: 10px;
      font-family: "Lato", sans-serif;
    }
  }
}

.conteiner-2 {
  .cb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .budgettxt {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      color: #ffffff;
      font-size: 72px;
      line-height: 86px;
      margin-top: 260px;
    }
    & h2 {
      width: 540px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;
      text-align: center;
    }
    .signup {
      border: 1px solid #ffffff;
      padding: 15px;
      border-radius: 5px;
      background-color: white;
      color: #ed4c5c;
      width: 150px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: medium;
      margin-left: 10px;
      margin-top: 56px;
    }
  }
}

.second-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 165px;
  height: 560px;

  .for-play {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .play-button {
    position: relative;
    left: 30px;
  }

  .video-photo {
    width: 445px;
    height: 311px;
  }
}
.easy {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: left;
  align-items: flex-start;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;

  .easytxt {
    margin-left: 170px;
    margin-top: 140px;
  }
  h3 {
    font-family: "Lato";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: 170px;
  }

  .learn-more {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #ed4c5c;
    padding-left: 169px;
    padding-top: 10px;
  }
}

.third-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 660px;
  padding-bottom: 120px;
  .features {
    font-weight: 700;
    font-size: 36px;
    color: black;
  }
  .photos {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 90px;

    .card-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .white-border {
    display: flex;
    position: relative;
    width: 293px;
    height: 198px;
    bottom: 93px;
    background: #ffffff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .support {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      padding-top: 33px;
      gap: 20px;

      .support-txt {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        text-align: center;
      }
      .read-more {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
      }
      .small-txt {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
      }

      .read-more {
        text-decoration: none;
        font-size: 12px;
        color: #ed4c5c;
        text-align: center;
      }
    }
  }
}

.four-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 52px;

  .numbers {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 168px;
  }
  .icon-red {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 230px;
    bottom: 95px;
  }
  .search {
    right: 14px;
    position: relative;
  }
  .pdf {
    right: 24px;
    position: relative;
  }
  .csv {
    right: 23px;
    position: relative;
  }
  .cloud-search {
    left: 6px;
    position: relative;
  }
}
.five-box{display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: #ED4C5C;
height: 500px;

.five-box-image{display: flex;
flex-direction: row;
gap: 80px;}
.five-box-txt{display: flex;
  flex-direction: column;
  padding-left: 130px;
  padding-top: 104px;
  gap: 42px;}
  
.small-txt-1{font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
 }
.stay{color: #ffffff;}

.icons-white{display: flex;
flex-direction: row;
gap: 28px;}

.slider{position: relative;
top: 76px;}
}
